body{
    margin: 0;
    background-image: url(../photos/Background.png.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation-delay: 1s;
    opacity: 0; 
    animation: fadeIn 0.3s ease 0.1s forwards;
    scroll-behavior: smooth ;
    
}

@keyframes fadeIn {
    to { opacity: 1; }
}

body.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}


.sidebar-container{
    position: fixed;
    background-color: rgb(15, 59, 2);
    width: 5vw;
    height: 100vh;
    transition: width 0.3s ease-in-out;
    will-change: width;
    overflow: hidden;
    z-index: 999;
}

.sidebar-container:hover{
    width: 20vw;

}

.Logo{
    position: relative;
    top: 2vh;
    width: 4vw;
    margin: 0 auto;
    display: block;
    transition: width 0.1s ease-in-out;
}

.E-System{
    position: relative;
    left: clamp(4%, 19%, 50%);
    top: 1vh;
    font-size: 0px;
    transition:0.3s ease 0.1s;

}

.sidebar-container:hover .E-System {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vh;
    white-space: nowrap;
    color:antiquewhite;
}




/* Home */
.home-container{
    position: relative;
    top: 9vh;
    left: 1vw;
    width: 3.4vw;
    height: 6vh;
    background-color: rgb(145, 124, 5);
    border-radius: 10px;
}

.sidebar-container:hover .home-container{
    position: relative;
    bottom: 4vh;
    left: 1vw;
    width: 200vw;
    height: 6vh;
    cursor: pointer;
}


.Home{
    background-color: transparent;
    border-color: transparent;
    position: relative;
    top: 10%;
    left: 8%;
}

.picture-home{
    width: 2vw;
}

.picture-home:hover{
    cursor: pointer;
}

.sidebar-container:hover .picture-home{
    position: relative;
    bottom: 50%;
    right: 15vw;
}

.Home-word{
    visibility: hidden;
    display: flex;
    align-items: center;
    font-size: 0;
    right: -100vw;
    color: rgb(205, 205, 181);    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.sidebar-container:hover .Home-word{
    visibility: visible;
    position: relative;
    bottom: 94%;
    left: 5vw;
    font-size: 2vh;
    cursor: pointer;
    color: black;
}




/* Document */

.document-container{
    position: relative;
    top: 13vh;
    left: 1vw;
    width: 3.4vw;
    height: 6vh;
    background-color: transparent;
    border-radius: 10px;
    
}

.document-container:hover{
    background-color: rgb(145, 124, 5);
}

.sidebar-container:hover .document-container{
    position: relative;
    bottom: 4vh;
    left: 1vw;
    width: 200vw;
    height: 6vh;
    cursor: pointer;
}
.Document{
    background-color: transparent;
    border-color: transparent;
    position: relative;
    top: 1vh;
    left: 8%;
}

.picture-document{
    width: 2vw;
}

.picture-document:hover{
    cursor: pointer;
}

.sidebar-container:hover .picture-document{
    position: relative;
    top: 20%;
    right: 15vw;
}

.Document-word{
    display: flex;
    align-items: center;
    position: relative;
    right: -100vw;
    font-size: 0;
    color: rgb(205, 205, 181);    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.1s ease-in-out 0.003s;
}

.document-container:hover .Document-word{
    color: black;
}


.sidebar-container:hover .Document-word{
    position: relative;
    bottom: 80%;
    left: 5vw;
    font-size: 2vh;
    cursor: pointer;
}


/* Blotter */

.blotter-container{
    position: relative;
    top: 17vh;
    left: 1vw;
    width: 3.4vw;
    height: 6vh;
    background-color: transparent;
    border-radius: 10px;
}

.blotter-container:hover{
    background-color: rgb(145, 124, 5);;
}

.sidebar-container:hover .blotter-container{
    position: relative;
    bottom: 4vh;
    left: 1vw;
    width: 200vw;
    height: 6vh;
    cursor: pointer;
}


.Blotter{
    background-color: transparent;
    border-color: transparent;
    position: relative;
    top: 2%;
    left: 10%;
}

.picture-blotter{
    width: 2vw;
}

.picture-blotter:hover{
    cursor: pointer;
}

.sidebar-container:hover .picture-blotter{
    position: relative;
    bottom: 20%;
    right: 19vw;
}

.Blotter-word{
    display: flex;
    align-items: center;
    position: relative;
    right: -100vw;
    font-size: 0;
    color: rgb(205, 205, 181);    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.1s ease-in-out 0.003s;
    
}

.blotter-container:hover .Blotter-word{
    color: black;
}

.sidebar-container:hover .Blotter-word{
    position: relative;
    bottom: 105%;
    left: 5vw;
    font-size: 2vh;
    cursor: pointer;
}


/* sidebar divider */

.sidebar-divider2{
    visibility: hidden;
    position: relative;
    bottom: -200%;
    color: transparent;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    
}

.sidebar-container:hover .sidebar-divider2{
    visibility: visible;
    position: relative;
    width: 18vw;
    top: 20vh;
    right: 1%;
    color: rgb(205, 205, 181);  
}


/* Analytics */

.analytics-container{
    position: relative;
    top: 23vh;
    left: 1vw;
    width: 3.4vw;
    height: 6vh;
    background-color: transparent;
    border-radius: 10px;
    
}

.analytics-container:hover{
    background-color: rgb(145, 124, 5);
}

.sidebar-container:hover .analytics-container{
    position: relative;
    bottom: 4vh;
    left: 1vw;
    width: 200vw;
    height: 6vh;
    cursor: pointer;
}
.Analytics{
    background-color: transparent;
    border-color: transparent;
    position: relative;
    top: 1vh;
    left: 8%;
}

.picture-analytics{
    width: 2vw;
}

.picture-analytics:hover{
    cursor: pointer;
}

.sidebar-container:hover .picture-analytics{
    position: relative;
    top: 20%;
    right: 15vw;
}

.Analytics-word{
    display: flex;
    align-items: center;
    position: relative;
    right: -100vw;
    font-size: 0;
    color: rgb(205, 205, 181);    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.1s ease-in-out 0.003s;
}

.analytics-container:hover .Analytics-word{
    color: black;
}


.sidebar-container:hover .Analytics-word{
    position: relative;
    bottom: 55%;
    left: 5vw;
    font-size: 2vh;
    cursor: pointer;
}

/* profile */


.Profile{
    background-color: transparent;
    border: transparent;
}

.picture-profile{
    position: relative;
    top: 57vh;
    width: 4.6vw;
    right: 0.2vw;
    transition:0.3s ease 0.2s;
}

.sidebar-container:hover .picture-profile{
    position: relative;
    top: 48vh;
}

.sidebar-divider{
    visibility: hidden;
    position: relative;
    bottom: -200%;
    color: transparent;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    
}

.sidebar-container:hover .sidebar-divider{
    visibility: visible;
    position: relative;
    width: 18vw;
    top: 36vh;
    right: 1%;
    color: rgb(205, 205, 181);  
}

.Logout{
    background-color: transparent;
    border: transparent;
}

.picture-logout{
    position: relative;
    visibility: hidden;
    width: 0;
    right: -20%;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

}

.picture-logout:hover{
    cursor: pointer;
}

.sidebar-container:hover .picture-logout{
    visibility: visible;
    width: 1.5vw;
    position: relative;
    top: clamp(40vh, 40.5vh, 50vh);
    left: 17vw;
}







/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */




/* navbar */
.upbar-container{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 9%;
    background-color: #375309;
    box-shadow: 0px 4px 10px black;
    z-index: 500;
}

.home-title{
    position: absolute;
    left: 7%;
    font-family: "Crimson Text";
    color: rgb(205, 205, 181);
    
}




/* Calendar */
.calendar-wrapper {
    position: relative;
    top: 13vh;
    left: 2vw;
    background-color: #fcfaf7;
    border: 3px solid rgb(205, 205, 181);
    border-radius: 20px;
    padding: 1px;
    width: 50vw;
    margin: 0 auto;
    padding: 3%;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px black;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    color:rgb(1, 41, 5);
}

.calendar-header h2 {
    position: relative;
    bottom: 3.6vh;
    right: 1.6vw;
    font-size: 5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 5vw; 
    row-gap: 1.5vh;
    text-align: center;
    
}

.day-name {
    font-weight: bold;
    font-size: 3vh;
    color: rgb(2, 65, 8);
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(205, 205, 181, 0.3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#calendarDates {
    display: contents;
    
}

.calendar-date {
    width: 80%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 3vh;
    transition: 0.2s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.calendar-date:hover {
    background-color: rgb(205, 205, 181);
    color: black;
}

.current-day {
    background-color: rgb(205, 205, 181);
    color: black;
    font-weight: bold;
}

#prevMonth{
    position: relative;
    bottom: 2vh;
    right: 2vh;
    background-color: transparent;
    border: transparent;
    color: rgb(0, 0, 0);
    font-variant: small-caps;
    font-size: 3vh;
    transition: 0.1s ease 0.1s ;
}

#prevMonth:hover{
    cursor: pointer;
    font-size: 3.5vh;
}

#nextMonth{
    position: relative;
    bottom: 2vh;
    left: 2vh;
    background-color: transparent;
    border: transparent;
    color: rgb(0, 0, 0);
    font-variant: small-caps;
    font-size: 3vh;
    transition: 0.1s ease 0.1s ;
}

#nextMonth:hover{
    cursor: pointer;
    font-size: 3.5vh;
}


/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */



.document-latest-container{
    position: absolute;
    top: 80vh;
    left: 8vw;
    width: 40vw;
    height: 70vh;
    background-color: #fcfaf7;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.574);
    border: 1px solid rgba(209, 170, 87, 0.419);

}

.blotter-latest-container{
    position: absolute;
    top: 80vh;
    left: 56vw;
    width: 40vw;
    height: 70vh;
    background-color: #fcfaf7;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.574);
    border: 1px solid rgba(209, 170, 87, 0.419);
}

.spacer {
    height: 5vh;
    clear: both;
    position: relative;
    top: 95vh;
}


.dtitle{
    position: relative;
    top: clamp(3%, 5%, 8%);
    left: 26.8%;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(16, 61, 27);
    font-size: 4vh;
    font-weight: 600;

}

.btitle{
    position: relative;
    top: clamp(3%, 5%, 8%);
    left: 31.5%;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(16, 61, 27);
    font-size: 4vh;
    font-weight: 600;
}